<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hindustaniandroidapps.anuptiwari.bharatkojano.sexeducationinhindi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/short_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicCategories"
            android:label="यौन शिक्षा - सभी विषय"
            android:theme="@style/CategoryTheme" />
        <activity
            android:name=".Story"
            android:label="लेख विस्तार में"
            android:theme="@style/StoryTheme"></activity>
        <activity android:name=".MenuInfo"></activity>
    </application>

</manifest>