<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bharatkojano.anuptiwari.narendramodi_notekojano">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="नरेंद्र मोदी - नोट को जानो "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotesBothActivity"
            android:label="नरेंद्र मोदी सरकार के नए नोट ">`
        </activity>
        <activity android:name=".SpecialitiesFiveHundred"
            android:label="500 के नए नोटों की विशेषताएं">`
        </activity>
        <activity android:name=".SpecialitiesTwoThousand"
            android:label="2000 के नए नोटों की विशेषताएं ">`
        </activity>
        <activity android:name=".SpecialityView"
            android:label="विशेषता विस्तार में ">`
        </activity>
    </application>

</manifest>